<!-- INICIO -->
<div>
    <div class="row">
        <div class="col-12 position-relative">
            <div class="image-background">
                <%= image_tag("home/banner_1.jpg", alt: "Sisco Bank banner 1", class: "d-block w-100") %>
            </div>   
            <div class="position-absolute text-center main-content p-4 shadow-sm">
                <h1 class="fw-bold text-5xl">TU FUTURO FINANCIERO COMIENZA AQUÍ</h1>
                <p class="my-4 fs-4">Sisco Bank C.A. nació para ser tu aliado en mercados de alto potencial, impulsado por innovación y excelencia. Estamos aquí para ayudarte a crecer con soluciones seguras, modernas y pensadas para ti</p>
                <%= link_to "Haz click aqui para registrarte", new_usuario_path, class: "d-block btn btn-warning fw-bold p-2", method: :post %>
            </div> 
        </div>    
    </div>
    <div class="row">
        <div class="col-12">
            <div class="p-3 bg-body-secondary">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                        <div class="card shadow my-2">
                            <%= image_tag("home/banner_4.jpg", alt: "Sisco Bank banner 1", class: "card-img-top") %>
                            <div class="card-body text-center">
                              <h5 class="card-title">Innovación financiera constante</h5>
                              <p class="card-text">Soluciones digitales modernas que impulsan tu crecimiento</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                        <div class="card shadow my-2">
                            <%= image_tag("home/banner_3.jpg", alt: "Sisco Bank banner 1", class: "card-img-top") %>
                            <div class="card-body text-center">
                              <h5 class="card-title">Confianza y seguridad total</h5>
                              <p class="card-text">Protección avanzada para tus operaciones bancarias</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                        <div class="card shadow my-2">
                            <%= image_tag("home/banner_2.jpg", alt: "Sisco Bank banner 1", class: "card-img-top") %>
                            <div class="card-body text-center">
                              <h5 class="card-title">Presencia global sostenible</h5>
                              <p class="card-text">Expansión responsable en mercados de alto valor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
</div>