<div class="bg-warning-light">    
    <div class="form-width mx-auto">
        <div class="row">
            <div class="col-12">
                <div class="my-4 p-4 bg-body-secondary shadow">
                    <h2 class="mb-4 text-center border border-4 pb-2 border-black border-top-0 border-end-0 border-start-0 ">Editar usuario</h2>

                    <% if notice %>
                      <div class="alert alert-success text-center">
                        <%= notice %>
                      </div>
                    <% end %>

                    <% if alert %>
                      <div class="alert alert-danger text-center">
                        <%= alert %>
                      </div>
                    <% end %>


                    <%= form_with(model: @usuario, local: true) do |form| %>

                        <%= form.fields_for :persona do |p| %>

                            <div>
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 mb-3">
                                        <%= p.label :tipo_persona_id, "Tipo de persona", class: "form-label" %>
                                        <%= p.collection_select :tipo_persona_id, @tipo_persona, :id, :tipo,
                                            { prompt: "Seleccione..." },
                                            { class: "form-select", disabled: true, autocomplete: "off", required: true, onchange: "checkTipoPersona(this.value)" } 
                                        %>                                
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 mb-3" id="input_nombre">
                                        <%= p.label :nombre, "Nombre completo", class: "form-label" %>
                                        <%= p.text_field :nombre, pattern: "[A-Za-záéíóúÁÉÍÓÚñÑ ]+", autocomplete: "off", title: "Solo se permiten letras y espacios", class: "form-control", required: true %> 
                                    </div>                            
                                </div>
                            </div>

                            <div>
                                <div class="row">
                                    <div class="col-12 mb-3">
                                         <%= p.label :correo, "Correo electrónico", class: "form-label" %>
                                         <%= p.email_field :correo, pattern: "^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$", title: "formato de correo invalido", class: "form-control", autocomplete: "off", required: true %> 
                                    </div>                         
                                </div>
                            </div>

                            <div>
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 mb-3">                                
                                        <%= p.label :telefono_principal, "Teléfono principal", class: "form-label" %>
                                        <%= p.telephone_field :telefono_principal,
                                            class: "form-control",
                                            pattern: "[0-9]{10,12}",
                                            title: "formato de telefono primario no es valido o excede la longitud de caracteres, max caracteres 12",
                                            autocomplete: "off",
                                            required: true 
                                        %>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 mb-3">
                                        <%= p.label :telefono_secundario, "Teléfono secundario (opcional)", class: "form-label"  %>
                                        <%= p.telephone_field :telefono_secundario,
                                            class: "form-control",
                                            pattern: "[0-9]{10,12}",
                                            title: "formato de telefono primario no es valido o excede la longitud de caracteres, max caracteres 12",
                                            autocomplete: "off",
                                            required: false 
                                        %>
                                    </div>
                                </div>
                            </div>

                        <% end %>
    
                        <div>
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6 mb-3">
                                    <%= form.label :tipo_documento_id, "Tipo de documento", class: "form-label" %>
                                    <%= form.collection_select :tipo_documento_id, @tipo_documento, :id, :documento,
                                        { prompt: "Seleccione..." },
                                        { class: "form-select", disabled: true, autocomplete: "off", required: true, onchange: "checkTipoDocumento(this)" } 
                                    %> 
                                </div>
                                <div class="ccol-12 col-md-6 col-lg-6 mb-3" id="input_documento">
                                    <%= form.label :n_documento, "Número de documento de identificación", class: "form-label" %>
                                    <%= form.text_field :n_documento, disabled: true, pattern: "[0-9]{7,12}", title: "formato de documento invalido o excede la longitud de caracteres, max 12", autocomplete: "off", class: "form-control", required: true %> 
                                </div>                            
                            </div>
                        </div>
    
                        <div>
                            <div class="row">                            
                                <div class="col-12 col-md-6 col-lg-6 mb-3">
                                    <%= form.label :fecha_emision, "Fecha de emisión del documento", class: "form-label" %>
                                    <%= form.date_field :fecha_emision,
                                        class: "form-control",
                                        autocomplete: "off",
                                        required: true 
                                    %>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6 mb-3">
                                    <%= form.label :fecha_vencimiento, "Fecha de vencimiento del documento", class: "form-label" %>
                                    <%= form.date_field :fecha_vencimiento,
                                        class: "form-control",
                                        autocomplete: "off",
                                        required: true
                                    %>
                                </div>
                            </div>
                        </div>
    
                        <div>
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6 mb-3">
                                    <%= link_to "Volver", usuarios_path, class: "d-block btn btn-danger w-100" %>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6 mb-3">
                                    <%= form.submit "Editar", class: "btn btn-warning w-100" %>
                                </div>                                
                            </div>
                        </div>
                    <% end %>
                </div>            
            </div>    
        </div>
    </div>
</div>


<%= javascript_include_tag "usuarios_edit" %>


