<div class="bg-warning-light">    
    <div class="table-content-width mx-auto">
        <div class="row">
            <div class="col-12">
                <div class="my-4 p-4 bg-body-secondary shadow">
                    <h2 class="mb-4 text-center border border-4 pb-2 border-black border-top-0 border-end-0 border-start-0 ">Tabla de Usuarios Creados</h2>
                    
                    <% if notice %>
                      <div class="alert alert-success text-center">
                        <%= notice %>
                      </div>
                    <% end %>

                    <% if alert %>
                      <div class="alert alert-danger text-center">
                        <%= alert %>
                      </div>
                    <% end %>


                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table text-center" id="usuarios_lista">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Tipo Persona</th>
                                    <th scope="col">Numero de documento</th>
                                    <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @usuarios.each_with_index do |usuario, index| %>
                                        <tr>
                                            <th scope="row"> <%= index+1 %> </th>                                            
                                            <td> <%= usuario.persona.nombre %></td>
                                            <td> <%= usuario.persona.tipo_persona.tipo %></td>
                                            <td> <%= usuario.n_documento %> </td>
                                            <td>
                                                <div class="d-flex justify-content-center"> 
                                                    <div class="mx-2"> 
                                                        <%= link_to usuario_path(usuario), title: "Visualizar", class: "btn btn-info" do %>
                                                            <i class="far fa-eye"></i>
                                                         <% end %> 
                                                    </div>
                                                    <div class="mx-2"> 
                                                        <%= link_to edit_usuario_path(usuario), title: "Editar", class: "btn btn-primary" do %> 
                                                            <i class="fas fa-edit"></i>
                                                        <% end %> 
                                                    </div>
                                                    <div class="mx-2"> 
                                                        <%= button_to usuario_path(usuario), title: "Eliminar", class: "btn btn-danger", method: :delete, data: { turbo_confirm: "¿Seguro que quieres eliminar este usuario?" } do %>
                                                            <i class="fas fa-trash"></i>
                                                        <% end %> 
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>            
            </div>    
        </div>
    </div>
</div>

<script>
  document.addEventListener("turbo:load", function () {
    if (!$.fn.DataTable.isDataTable('#usuarios_lista')) {
      $('#usuarios_lista').DataTable({
        language: {
          url: "https://cdn.datatables.net/plug-ins/1.13.8/i18n/es-ES.json"
        }, 
        pageLength: 10,
        ordering: true,
        searching: true,
        info: false,
        lengthChange: false
      });
    }
  });
</script>
