<div class="bg-warning">    
    <div class="w-50 mx-auto">
        <div class="row">
            <div class="col-12">
                <div class="my-4 p-4 bg-body-secondary shadow">
                    <h2 class="mb-4 text-center border border-4 pb-2 border-black border-top-0 border-end-0 border-start-0 ">Tabla de Usuarios Creados</h2>

                    <%= form_with url: usuarios_path, method: :get, local: true do |form| %>
                      <%= form.label :q, "Buscar usuario", class: "form-label" %>
                      <%= form.text_field :q, class: "form-control", placeholder: "Ingrese nombre o documento" %>
                      <%= form.submit "Buscar", class: "btn btn-primary w-100 mb-4" %>
                    <% end %>

                    <div class="row">
                        <div class="col-12">
                            <table class="table text-center table-responsive">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Numero de documento</th>
                                    <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @usuarios.each_with_index do |usuario, index| %>
                                        <tr>
                                            <th scope="row"> <%= index+1 %> </th>
                                            <td> <%= usuario.persona.nombre %></td>
                                            <td> <%= usuario.n_documento %> </td>
                                            <td>
                                                <div class="d-flex justify-content-center"> 
                                                    <div class="mx-2"> 
                                                        <%= link_to "Visualizar", usuario_path(usuario), class: "btn btn-info" %>
                                                    </div>
                                                    <div class="mx-2"> 
                                                        <%= link_to "Editar", edit_usuario_path(usuario), class: "btn btn-primary" %> 
                                                    </div>
                                                    <div class="mx-2"> 
                                                        <%= button_to "Eliminar", usuario_path(usuario), class: "btn btn-danger", method: :delete, data: { turbo_confirm: "¿Seguro que quieres eliminar este usuario?" } %>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>            
            </div>    
        </div>
    </div>
</div>